.home-main-section {
  padding-top: 8%;
}

.picture {
  border-radius: 40px;
  align-self: center;
}

.skill-container {
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.skill-icon {
  display: inline-block;
  margin-top: 15px;
  margin-right: 12px;
}
@media screen and (max-width: 992px) {
  .picture {
    max-width: 60%;
  }

  .home-main-content {
    margin-top: 80px;
  }
}