.home-main-section {
  padding-top: 8%;
}

.picture {
  border-radius: 40px;
  align-self: center;
}

.home-experience-section {
  margin-top: 150px;
}
@media screen and (max-width: 992px) {
  .picture {
    max-width: 60%;
  }

  .home-main-content {
    margin-top: 80px;
  }
}